.listElement {
    width: 400px;
    min-height: 60px;
    font-size: 20px;
    border-radius: 3px;
    padding: 2px 5px 2px 5px;
    display: block;
    //background-color: #e0e0e0;
    // border: 1px solid gray;
}

.listElement:hover {
    background-color: #e0e0e0;
    // border: 1px solid gray;
}
